<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop_t.book.mapper.CartMapper">
    <resultMap id="cart" type="com.green.book_shop_t.book.dto.CartDTO">
        <id column="CART_NUM" property="cartNum"/>
        <result column="BOOK_NUM" property="bookNum"/>
        <result column="BOOK_TITLE" property="bookTitle"/>
        <result column="BOOK_PRICE" property="bookPrice"/>
        <result column="CART_CNT" property="cartCnt"/>
        <result column="MEM_EMAIL" property="memEmail"/>
        <result column="CART_DATE" property="cartDate"/>
        <result column="UPLOAD_FILE_NAME" property="uploadFileName"></result>
    </resultMap>

    <!--장바구니 등록 쿼리-->
    <insert id="insertCart">
        INSERT INTO SHOP_CART(
            BOOK_NUM
            ,CART_CNT
            ,MEM_EMAIL
        )VALUES(
            #{bookNum}
            ,#{cartCnt}
            ,#{memEmail}
        )ON DUPLICATE KEY UPDATE
            CART_CNT = CART_CNT + #{cartCnt}
    </insert>

    <!--장바구니 조회 쿼리-->
    <select id="selectCartList" resultMap="cart">
        SELECT C.CART_NUM,
            B.BOOK_TITLE,
            B.BOOK_PRICE,
            C.CART_CNT,
            C.CART_DATE,
            I.UPLOAD_FILE_NAME
        FROM SHOP_CART C
        INNER JOIN SHOP_BOOK B
            ON C.BOOK_NUM = B.BOOK_NUM
        LEFT JOIN BOOK_IMG I
            ON I.BOOK_NUM = B.BOOK_NUM
        AND I.IS_MAIN = 'Y'
        WHERE C.MEM_EMAIL = #{memEmail}
        ORDER BY C.CART_DATE DESC
    </select>

    <!--장바구니 상품 삭제 쿼리-->
    <delete id="deleteContent">
        DELETE FROM SHOP_CART
        WHERE CART_NUM = #{cartNum}
    </delete>

    <!--장바구니 수량 수정 쿼리-->
    <update id="updateCart">
        UPDATE SHOP_CART
        SET CART_CNT = #{cartCnt}
        WHERE BOOK_NUM = #{bookNum}
        AND MEM_EMAIL = #{memEmail}
    </update>

</mapper>































